@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import 'sprite.scss';

body {
  font-family: Arial,Helvetica,sans-serif;
  header {
    padding-top: 20px;
  }
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.grid-cell {
  flex:1;
  justify-content: center;
}

.align-top {
  align-self: flex-start;
}
.top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .logo {
    @include sprite($logo);
    margin: 0 auto;
  }

  .hamburger {
    @include sprite($menu)
  }

  .top-menu{
    padding: 2px;
    flex-wrap: wrap;
    font-family: 'Helvetica', sans-serif;
    .menu-item {
      display: flex;
      padding: 0 .6em;
      text-align: center;
      border-left: 1px solid #bbb;
      font-size: 12px;
      
      &:first-child {
        border: none;
      }
    }
  }
}

.bot-section {
  margin: 30px 0 30px 0;
  .sub-menu {
    flex-direction: row;
    justify-content: center;
    font-family: 'Ropa Sans', sans-serif;
    .menu-item {
      flex-basis: auto;
      padding: 0 .9em;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}

.search-area {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 40px;
  width: 300px;
  margin: 0 auto;
  input {
    border: 0;
    font-style: italic;
    outline: none;
    width: 80%;
    color: #4b4b4b;
    font-size: 15px;
    background: 0 0;
    padding: 0 0 0 6px;
    height: 22px;
  }
  .search-icon {
    @include sprite($search-icon);
    position: relative;
    bottom: 20px;
    left: 280px;
  }
  .search-dropdown {
    box-sizing: border-box; 
    overflow-y: auto;
    max-height: 200px;
    border-radius: 0 0 4px 4px;
    background-color: #FCFCFC;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.09);
    z-index: 99999;
    position: absolute;
    top: 180px;
    width: 300px;
    .search-result {
       border-bottom: 1px solid #eee;
       padding: 5px;
       &:hover {
         cursor: pointer;
         background-color: #b8a73c;
       }
    }
  }
}

.slide-area {
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 959px) {
  .top-menu, .sub-menu {
    display: none;
  }
  .grid-cell {
    display: flex;
    &.left {
      justify-content: flex-start;
    }
    &.right {
      justify-content: flex-end;
    }
  }
  .align-top {
    align-self: center;
  }
  .bag {
    @include sprite($bag);
  }
  .top-menu-mobile {
    display: flex;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Helvetica', sans-serif;
    justify-content: center;
    .menu-item {
      display: flex;
      padding: 0 .6em;
      text-align: center;
      border-left: 1px solid #bbb;
      font-size: 12px;
      
      &:first-child {
        border: none;
      }
    }

  }

}

@media screen and (min-width: 960px) {
  .top-menu, .sub-menu {
    display: flex;
  }

  .top-menu-mobile, .hamburger, .bag {
    display: none;
  }

}
